@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
$font-stack: "Poppins", sans-serif;
$primary-blue: #3453a3;
$primary-orange: #ffede2;
$primary-white: #ffffff;
$primary-violet: #001a5c;
$fontWeight: 700;
